{% extends "base.html" %}

{% block title %}Is {{ mon[0][2] }} kosher?{% endblock %}

{% block content %}
<div class="single-mon detailed">
<h1>{{ mon[0][2] }}</h1>
  <img src="{{ mon[0][1] }}">
  <br><b>Type:</b> {% if mon[0][5] != None %}
      {{ mon[0][5] }}
  {% endif %} {% if mon[0][6] != None %} and {{ mon[0][6] }}
  {% endif %}
  {% if mon[0][7] != None %}
      <br><b>Alternate types:</b> {{ mon[0][7] }}
  {% endif %}
  {% if mon[0][8] != None %} and {{ mon[0][8] }}{% endif %}
  <br><b>Egg Group:</b> {{ mon[0][3] }}{% if mon[0][4] != None %} and {{ mon[0][4] }}{% endif %}
  <br><b>Body type:</b> <img class="inline-img" src="{{ mon[0][9] }}">
  <br><b>Is it kosher by types? {{ mon[0][10] }}<br>
    Is it kosher by egg groups? {{ mon[0][11] }}<br>
    Is it kosher by body type? {{ mon[0][12] }}</b>
    <br>
    {% if mon[0][13] != None %}
        <div class="more-info">{{ mon[0][13] }}</div>
    {% else %}
    <br>
    {% endif %}
</div>

<div class="footer-nav">

<div class="last">
  {% if mon[0][0] != 1 %}
  <a href="/mon/{{ mon[0][0] - 1 }}">&larr; LAST MON</a>
  {% else %}
  <a href="/mon/905">&larr; LAST MON</a>
  {% endif %}
</div>

<div class="back">

<a href="/">HOME</a>

</div>

<div class="next">
  {% if mon[0][0] != 905 %}
  <a href="/mon/{{ mon[0][0] + 1 }}">NEXT MON &rarr;</a>
  {% else %}
  <a href="/mon/1">NEXT MON &rarr;</a>
  {% endif %}
</div>

</div>
{% endblock %}
